@page
<div class="row">
    <div class="col-8" id="start-area">
        <h3>SignalR</h3>
        <p>Welcome to the signalR demo game. Please choose a username below to play.</p>
        <label for="user-name-control" class="form-label">Username</label>
        <input class="form-control" type="text" maxlength="30" id="user-name-control"/>
        <button class="btn btn-success w-50" type="button" id="join-game">Join</button>
    </div>
    <div class="col-8" id="start-area">
        <h3>Start a game?</h3>
        <p>You can start a game if you want, enter the password required to get your connection id, the element you wish to be updated and the color to set it to (html colorcode), and hints for users who need a bit of help.</p>
        <label for="user-name-control" class="form-label">Password</label>
        <input class="form-control" type="text" maxlength="30" id="password-control"/>        
        <label for="user-name-control" class="form-label">ElementId</label>
        <input class="form-control" type="text" maxlength="30" id="elementid-control"/>        
        <label for="user-name-control" class="form-label">Color</label>
        <input class="form-control" type="text" maxlength="30" id="color-control"/>                
        <button class="btn btn-success w-50" type="button" id="start-game">Start</button>
    </div>
    <div class="col-8" id="game-area">
        
    </div>
    <div class="col-4">
        <h3>Messages</h3>
        <ul id="message-list"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalrdemo.js"></script>