@page "/"
@using SignalRDemoBlazor.Client.Components.Buttons
@using SignalRDemoBlazor.Client.Components.Game

<PageTitle>SignalR Demo</PageTitle>

@if (Registered)
{
    <GameMain
        UserName="@UserName"
        Group="@Group"/>
}
else if (Registering)
{
    <div class="p-4">
        <h5>Busy signing in, if a quiz is running you will join afterward the current question.</h5>
        <div class="loading text-center">
            <i class="bi bi-hourglass-split h1 opacity-75"></i>
        </div>
    </div>
}
else
{
    <div class="p-4">
        <div class="form-group row">
            <div class="col-lg-3">
                <label for="username-input" class="form-label">Username</label>
                <input type="text" class="form-control" id="username-input" @bind="UserName" @bind:event="oninput" @onkeypress="KeyPress" placeholder="Choose a name" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-3">
                <label for="pincode-input" class="form-label">Pincode</label>
                <input type="text" class="form-control" id="pincode-input" @bind="PinCode" @bind:event="oninput" @onkeypress="KeyPress" placeholder="Enter PIN code" />
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-lg-3">
                <Button Item="RegisterButton"/>
            </div>        
        </div>
    </div>
}