@using SignalRDemoBlazor.Client.Components.Buttons
<div class="row p-2 bg-secondary bg-opacity-25">
    <div class="col-lg-2">
        <h3 style="@GetStyle()">Welcome @UserName</h3>
    </div>
    <div class="col-lg-1 offset-lg-3">
        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked @onclick="Enable">
        <label class="btn btn-outline-success btn-outline-white" for="success-outlined">SignalR On</label>
    </div>
    <div class="col-lg-1">
        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" @onclick="Disable">
        <label class="btn btn-outline-danger btn-outline-white" for="danger-outlined">SignalR Off</label>
    </div>
    @if (SignaRService.Disabled)
    {
        <div class="col-lg-1">
            <Button Item="RefreshButton"/>
        </div>
    }
</div>
<div class="row p-4">
    <div class="col-lg-8">
        <ChatWindow
            UserName="@UserName"
            Group="@Group"/>
    </div>
    <div class="col-lg-4">
        <MessageWindow />
    </div>    
</div>